
/* for fixed card height */
.card {
  min-height: 600px;
  max-height: 750px;
}

/* divider under title */
.divider {
  border: solid 2px grey;
  /* height: 1px; */
  display: inline-block;
  /* max-width: 90% */
  min-width: 100%
}

.menu {
  border: solid 1px transparent;
  display: inline-block;
  min-width: 31%;
  /* padding: 5px */
}

.padding {
  /* left/right sides only */
  border: solid 1px white;
  display: inline-block;
  min-width: 1%
}

.hypnoUrl {
  font-size: 125%;
  font-weight: bold;
}

.beerPic {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* span {
  border: solid 5px black;
  display: inline-block;
  max-width: 90%
} */
